.productDetails {
  display: grid;
  height: 80%;
  width: 80%;
  grid-template-columns: repeat(2, minmax(180px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.productDetails img {
  border-radius: 8px;
  width: 60%;
  height: 500px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .productDetails {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
