.history-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #fff;
}

.purchase-entry:first-child {
  border-top: none;
}

.purchase-title {
  font-weight: bold;
  margin-bottom: 1rem;
  color: #fff;
}
