  .navbar {
    display: 'flex';
    padding: '1rem';
    background-color: #fff;
    width: 100%;
    align-content: end;
  }

  .navbar img {
    padding-top: 10px;
    width: 2%;
    height: 4%;
  }

  .navbar button {
    background: 'none';
    border: 'none';
    cursor: 'pointer';
  }
